window#osd {
  padding: 4px 5px;
  border-radius: 20px;
  border: 2px solid alpha(#cba6f7, 0.8);
  background-color: #45475a;
}

window#osd #container {
  margin: 16px;
}

window#osd image,
window#osd label {
  color: #cba6f7;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.9;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(#f5c2e7, 0.7);
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #cba6f7;
}
