* {
    all: unset;
    /*this is really important to isolate waybar from gtk*/
    font-family: "Monospace";
    font-size: 14px;
    font-weight: normal;
}

/* TOOLTIP */
tooltip {
    background: rgba(0, 0, 0, 1);
    border: 1.5px solid #9a4c42;
    border-radius: 8px;
    padding: 2px 100px;
}

/* COMMON CONFIGS */
#clock,
#hardware,
#network,
#workspaces,
#pulseaudio,
#taskbar,
#battery,
#backlight,
#custom-notification,
#window,
#workspaces {
    background: rgba(0, 0, 0, 0.5);
    margin: 1px 2px;
    padding: 1px;
    border-radius: 15px;
}

#workspaces button {
    background: rgba(0, 0, 0, 0.5);
    min-width: 20px;
    margin: 2px;
    border-radius: 45%;
    /* circle */
    transition: all 0.2s ease-in-out;
    padding: 1px;
    opacity: 0.6;
}

#workspaces button:nth-child(first) {
    padding-left: 0px;
}

#workspaces button:hover {
    opacity: 0.8;
    background: #9f51c6;
}

#workspaces button.active {
    background-color: rgb(255, 255, 255);
    color: black;
    min-width: 30px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    opacity: 0.9;
}

#workspaces button.urgent {
    color: #e10a32;
    transition: all 0.3s ease-in-out;
}

#cava {
    background: rgba(0, 0, 0, 1);
}

#network,
#pulseaudio,
#backlight,
#battery,
#clock,
#window {
    border: 2px solid;
    border-color: #ffffff;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgba(0, 0, 0, 0.371);
}

#network.disconnected {
    border: 2px solid;
    border-color: #f53c3c;
  }

#battery.charging,
#battery.plugged {
 border: 3px solid;
 border-color: #5cff56;
   
}

#battery.discharging {
    color: #ffcbcb;
    border: 2px solid;
    border-color: #ed0e0e;
    
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#clock:hover,
#window:hover {
    background-color: rgba(255, 255, 255, 0.485);
    color: black;
}

#custom-notification {
    padding-left: 8px;
    padding-right: 4px;
    background-color: rgba(0, 0, 0, 0.371);
}

#custom-notification:hover {
    background-color: rgba(255, 255, 255, 0.485);
    color: black;
}